<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Bus Information</title>
        <meta http-equiv="refresh" content="30">
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Bus Information</h2>
            <div>
                <p>Next arrivals near postcode <span th:text="${busInfo.getPostcode()}"></span>:</p>
                <div>
                    <div th:each="stopDisplay: ${busInfo.getStopDisplays()}">
                        <b><div th:text="${stopDisplay.getStopName()
                        + (stopDisplay.getTowards()!= null ? ' towards '+stopDisplay.getTowards(): '')
                        + (stopDisplay.getCompassPoint()!= null ? ' ('+stopDisplay.getDirection() + ')': '')
                        }" ></div></b>
                        <div th:each="arrival: ${stopDisplay.getArrivals()}">
                            <div th:text="'Bus number ' + ${arrival.lineName} + ' to ' + ${arrival.destinationName} + ', expected at ' + ${arrival.formattedTime}"></div>
                        </div>
                        <br>
                        <div th:text="${stopDisplay.getProgressBar()}"></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>